body{
    margin:0%;
    padding:0%;
    overflow-x: hidden;
    background: rgb(16,134,147);
    background: radial-gradient(circle, rgba(16,134,147,1) 0%, rgba(4,96,108,1) 100%);
}

header{
    background-color: #047F8C;
    padding-top: 40px;
    padding-bottom: 40px;
}

nav{
    padding-left: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: arial;
    transition: 1s;
}

.nav:hover{
    color: #32caca;
    transition: 1s;
}

#compte{
    height: 70px;
    width: 70px;
}

#logo{
    position: absolute;
    height: 400px;
    width: 400px;
    top: -130px;
    left: -80px;
}

footer{
    background-color: #047F8C;
    padding-top: 40px;
    padding-bottom: 40px;
}

p{
    color: white;
    font-size: 30px;
    font-family: Arial;
}

h2{
    color: white;
    font-size: 40px;
    font-family: Arial;
}

footer{
display: flex;
flex-direction: row;
justify-content: space-around;
}

#Mention{
    text-align: center;
}

#reseau{
    max-width : 500px;
    height : auto;
}

#trait{
    border-left: 5px solid #29A6A6;
    margin-left: -300px;
    margin-right: -300px;
}

#Lien{
    display: flex;
    flex-direction: column;
    height: 40px;
    overflow: hidden;
    transition-property: height;
    transition-duration: 1s;
    text-align: center;
}

#Lien:hover{
    display: flex;
    flex-direction: column;
    height: 130px;
}

#Titre{
    color: white;
    font-family: Arial;
    font-size: 100px;
    text-align: center;
    border-top: 5px solid #32caca;
    border-bottom: 5px solid #32caca;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 500px;
    margin-right: 500px;
}

.centre{
    display: flex;
    justify-content: center;
}

#soustitre{
    text-align: center;
    border-bottom: 5px solid #32caca;
    padding-bottom: 20px;
    margin: 0px 750px
}

#carte{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

iframe{
    border-radius: 20px;
    width: 50%;
}

#adresse{
    color: white;
    font-size: 30px;
    font-family: Arial;
    text-decoration: none;
    padding: 20px;
}

.slidershow{
    width: 900px;
    height: 550px;
    overflow: hidden;
    border-radius: 10px;
  }
  .middle{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover{
    background: #fff;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
